@using System.Security.Claims
@using JwtAuthDotNet9WASM.Model
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@* @inject IJSRuntime JS *@


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <p class="my-3 m-2">Hello, @context.User.Identity?.Name!</p>
                    <p class="my-3 m-2">
                        Welcome, @context.User.FindFirst(ClaimTypes.NameIdentifier)?.Value
                    </p>
                    <a class="btn btn-secondary">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a class="btn btn-info" href="login">Login</a>
                    <a class="btn btn-primary">Register</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@* @code {
    private string? NameIdentifier;

    protected override async Task OnInitializedAsync()
    {
        // Read the token from localStorage
        var token = await JS.InvokeAsync<string>("localStorage.getItem", "authToken");

        if (!string.IsNullOrEmpty(token))
        {
            NameIdentifier = JwtParser.GetClaimFromJwt(token, "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier");
        }
    }
} *@
