@using System.Security.Claims
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    @* <p class="my-3 m-2">Hello, @context.User.Identity?.Name!</p> *@
                  
                    <a class="btn btn-secondary">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a class="btn btn-info" href="login">Login</a>
                    <a class="btn btn-primary">Register</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
